.top{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row-selected{
    cursor: pointer;
}

.payments-section{
    background-color: #eeeeee;
    border-radius: 0.8rem;
    margin-left: 2rem;
    padding: 1rem;
}